<div class="row">
	<div class="col-md-4 col-md-offset-4">
	  <%= form_for(@genero) do |f| %>
	    <%= render 'compartilhado/mensagens_erro', object: f.object %>
	    <div class="form-group">
	    <%= f.label :nome, "Genero" %>
	    <%= f.text_field :nome, class: "form-control", disabled: !is_admin? %>
	    </div>
	    <div class="form-group">
	    <%= f.label :descricao, "Descrição" %>
	    <%= f.text_area :descricao, rows: 6, class: "form-control" %>
	    </div>
	    <hr>
	    <%= f.submit "Enviar", class: "btn btn-large btn-primary" %>
	    <hr>
	    NOTA: O mau uso do sistema suggestme resultará na expulsão do usuário do site.
	  <% end %>
	</div>
</div>