<div class="row">
	<div class="col-md-4 col-md-offset-4">
	  <%= form_for(@genero) do |f| %>
	    <%= render 'compartilhado/mensagens_erro', object: f.object %>
	    <div class="form-group">
	    	<%= f.label :nome, "Gênero" %>
	    	<%= f.text_field(:nome, class: "form-control") %>
	    </div>
	    <div class="form-group">
	    	<%= f.label :descricao, "Descrição" %>
	    	<%= f.text_area :descricao, rows: 5, class: "form-control", id:"descricao" %>
	    </div>
	    <div class="form-group">
        <%= label_tag nil, "Usar Descrição da Wikipedia?" %>
        <%= check_box_tag :usa_wiki, true, nil, id: "usa-wiki" %>
      </div>
	    <hr>
	    <%= f.submit "Enviar", class: "btn btn-large btn-primary" %>
	    <p></p>
	  <% end %>
	</div>
</div>