<%= render "compartilhado/breadcrumb", pag: "Todos Gêneros" %>

<h1>Todos os Gêneros</h1>

<% if signed_in? %>
<p>
	<span>Não achou o gênero que procurava?</span> 
	<%= link_to 'Crie um novo gênero', new_genero_path %>
</p>
<% end %>

<table class="table table-hover">
		<tr class="info">                      
		<th><%= sortable "nome" %></th>
		<th><%= sortable "descricao", "Descrição" %></th>
		<% if is_admin? %>
			<th><%= sortable "acoes", "Ações" %></th>
		<% end %>
	</tr>
  <%= render @generos %>
</table>

<%= will_paginate @generos, :previous_label => " << Anterior", :next_label => "Proximo >>", renderer: BootstrapPagination::Rails %>