<%= render "compartilhado/breadcrumb", pag: @genero.nome.titleize %>

<div class="row">
  <aside class="col-md-3">
    <section>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
              <h4> <%= @genero.nome %> </h4>
          </h3>
        </div>
        <div class="panel-body">
            <label> <%= @genero.try(:descricao)%> </label>
        </div>
      </div>
      <% if signed_in? %>
        <%= render partial: "compartilhado/nova_flag", locals: { flagavel: @genero, id: "flag_genero" } %>
      </br></br>
      <% end %>
      <% if admin? %>
        <%= link_to "Excluir", @genero, method: :delete, data: { confirm: 'Você tem certeza?' } %> |
      <% end %>
      <% if signed_in? %>
        <%= link_to 'Editar', edit_genero_path(@genero) %>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render "itens_relacionados" , itens: @itens %>
  </div>
</div>
<div class="row">
  <div class="col-md-4"></div>
  <%= will_paginate @itens, :previous_label => " << Anterior", :next_label => "Proximo >>", renderer: BootstrapPagination::Rails %>
</div>

