<div class="row">
<% if @genero.itens.any? %>
  <h3>Itens (<%= @genero.itens.count %>)</h3>
  <!-- Loop para cada item do usuário -->
  <% @genero.itens.each do |item| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span> <%= link_to item.nome_ptbr, item_path(item) %></span>
        </h3>
      </div>
      <div class="panel-body">
        <%= item.descricao %>
      </div>
    </div>
  <% end %>
<% end %>
<div>
<%= link_to 'Editar', edit_genero_path(@genero) %> |
<%= link_to 'Voltar', generos_path %>
