<%= render "compartilhado/breadcrumb", pag: "Sign in" %>

<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h4><%= "E-mail '#{@email}' já cadastrado! Por favor, efetue o login para vincular a conta!" if @uid %></h4>
    <%= form_for(:session, url: sessions_path) do |f| %>
      <% unless @uid.nil? %>
        <%= f.hidden_field :uid, value: @uid %>
      <% end %>
      <div class="form-group">
        <label> E-mail</label>
        <%= f.text_field :email, value: @email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <hr>
      <%= f.submit "Entrar", class: "btn btn-large btn-primary" %>
    <% end %>
    <hr>
    <p>Novo usuário? <%= link_to "Registre-se agora!", signup_path %></p>
    <p>Esqueceu sua senha? <%= link_to "Clique aqui!", reset_password_path %></p>
    <hr>
  </div>
</div>