<% if @comentarios.any? %>
  <!-- Loop para cada comentario do item -->
  <% @comentarios.each do |comentario| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span> <%= link_to comentario.usuario.username, usuario_path(comentario.usuario) %></span>
          <small>  
            <span class="glyphicon glyphicon-thumbs-up"><%= comentario.like %></span>
            <span class="glyphicon glyphicon-thumbs-down"><%= comentario.dislike %></span>
            <%= render partial: "compartilhado/nova_flag", locals: { flagavel: comentario, id: "flag_comentario" } unless !signed_in? %>
            <span>
              <% if admin? or current_user?(comentario.usuario) %>
                <%= link_to "deletar", comentario, method: :delete, data: { confirm: 'Você tem certeza?' } %>
              <% end %> 
            </span>
          </small>
        </h3>
      </div>
      <div class="panel-body">
        <%= comentario.comentario %>
      </div>
    </div>
  <% end %>
<% else %>
  <p> <strong><%= @item.get_name.titleize %></strong> ainda não possui comentários </p>
<% end %>
<%= will_paginate @comentarios, :previous_label => " << Anterior", :next_label => "Proximo >>", renderer: BootstrapPagination::Rails, param_name: 'comentario_page' %>