<% if itens.blank? %>
	<h3><%= "Ainda não há itens parecidos" %></h3>
	<h4><%= "Você pode ajudar adicionando um gênero ao item" %></h4>
	<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#genero">
		Adicionar Tags
	</button>
<% else %>
	<h3><%= "Itens parecidos:" %></h3>
<% end %>
<ul class="list-group">
	<% itens.each do |id, nota| %>
		<li class="list-group-item">
			<%= link_to Item.find(id).get_name.titleize, item_path(id) %> <%= nota %>
		</li>
	<% end %>
</ul>