<tr id=<%= item.id.to_s %>>
  <td><%= link_to item.get_name.titleize, item %></td>
  <td><small> <%= truncate(item.descricao,{ :length => 50, omission: '... (continua)' }) %> </small></td>
  <td>
    <button type="button" class="btn btn-primary btn-sm like"> <%= @avaliacoes[item.id][1] %>
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    <button type="button" class="btn btn-danger btn-sm dislike"> <%= @avaliacoes[item.id][0] %>
      <span class="glyphicon glyphicon-thumbs-down"></span>
    </button>
    <% if signed_in? %>
      <%= form_for current_user.avaliacoes.build(item_id: item.id), remote: true do |f| %>
        <%= f.hidden_field :item_id %>
        <%= f.hidden_field :avaliacao, id: "hidden_tipo_" + item.id.to_s %>
        <%= f.submit "Like!", { style: "display: none", id: "submit_" + item.id.to_s} %>
      <% end %>
    <% end %>
  </td>
    <td><span class="label <%= label_type item %>"><%= link_to item.categoria.descricao, categoria_path(item.categoria), class: "categoria"%></span></td>
  <% if admin? %>
    <td>
    	<%= link_to "Excluir", item, method: :delete, data: { confirm: 'Você tem certeza?' } %> |
      <%= link_to "Editar", edit_item_path(item) %>
    </td>
  <% end %>
</tr>