<li>
  <%= link_to item.nome_ptbr, item %>
  <small> <%= truncate(item.descricao, :length => 40) %> </small>
  <%= @avaliacoes[item.id][1].to_s %><span class="glyphicon glyphicon-thumbs-up"> </span> 
  <%= @avaliacoes[item.id][0].to_s %><span class="glyphicon glyphicon-thumbs-down"></span> 
  <span class="label label-info"><%= item.categoria.descricao %></span>
  <% if is_admin? %>
      | <%= link_to "Excluir", item, method: :delete %>
      | <%= link_to "Editar", edit_item_path(item) %>
  <% end %>
</li>