<%= render "compartilhado/breadcrumb", pag: "Search" %>

<h1>Procura por <%= @q %>!</h1>

<% if signed_in? %>
		<h5> Não achou o que procurava? Pode criar um novo item <%= link_to "Aqui!", new_item_path %></h3>
<% end %>

<table class="table table-hover">
	<tr class="info">                      
		<th><%= sortable "nome_ptbr", "Nome"%></th>
		<th><%= sortable "descricao", "Descrição" %></th>
		<th><%= sortable "avaliacao", "Avaliação" %></th>
		<th><%= sortable "categoria_id", "Categoria"%></th>
		<% if is_admin? %>
			<th><%= sortable "acoes", "Ações" %></th>
		<% end %>
	</tr>
  <%= render @itens %>
</table>

<%= will_paginate @itens,:previous_label => " << Anterior", :next_label => "Proximo >>", renderer: BootstrapPagination::Rails %>