<% provide(:title, @item) %>

<%= render "compartilhado/breadcrumb", pag: @item.get_name.titleize %>

<!-- Row Principal -->
<div class="row">
  <!-- Aside -->
  <aside class="col-md-3">
    <div class="row">
      <div id="content" class="col-md-offset-1 col-md-11">
        <section>
          <div id="item-img">
            <a href="#"><img size: "280x160" src=<%= @item.get_image_url %> class="img-thumbnail" /></a>
          </div>
          <hr>
          <button type="button" class="btn btn-primary btn-md" id="like"> <%= @avaliacoes_count[:positivas] %>
            <span class="glyphicon glyphicon-thumbs-up"></span>
          </button>
          <button type="button" class="btn btn-danger btn-md" id="dislike"> <%= @avaliacoes_count[:negativas] %>
            <span class="glyphicon glyphicon-thumbs-down"></span>
          </button>
          <% if signed_in? %>
            <%= form_for current_user.avaliacoes.build(item_id: @item.id) do |f| %>
              <%= f.hidden_field :item_id %>
              <%= f.hidden_field :avaliacao, id: "hidden_tipo" %>
              <%= f.submit "Like!", { style: "display: none", id: "submit"} %>
            <% end %>
          <% end %>
          <hr>
          <label>Categoria:</label> <%= link_to @item.categoria.descricao, categoria_path(@item.categoria) %> </br>
    			<label>Nome: </label> <%= @item.try(:nome_ptbr).try(:titleize) %> </br>
          <small><label>Inglês: </label> <%= @item.try(:nome_en).try(:titleize) %></small> </br>
    			<label>Descrição: </label> <%= @item.descricao %> </br>
          <label>Gêneros: </label> 
            <% unless @item.generos.empty? %>
              <% @item.generos.group("generos.id").each do |genero| %>
                <%= link_to genero.nome + ',', genero_path(genero) %> 
                <% if admin? %>
                  <%= form_tag('/generalizacoes/destroy_all', method: :post) do %>
                    <%= hidden_field_tag :item_id, @item.id %>
                    <%= hidden_field_tag :genero_id, genero.id %>
                    <%= submit_tag 'x', class: "btn btn-danger btn-xs"%>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% if signed_in? %>
            <!-- Button trigger modal Generos-->
            <br>
            <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#genero">
              Adicionar Tags
            </button>
              <%= render partial: "new_generalizacao", locals: { item: @item } %>
          <% end %>
          </br>
          <label>Mais: </label> <%= link_to 'Wikipedia', @item.wiki_link %> <br><br>
          <%= render partial: "compartilhado/nova_flag", locals: { flagavel: @item, id: "flag_item" } if signed_in? %>
          </br></br>
          <% if signed_in? %>
            <%= link_to 'Editar', edit_item_path(@item) %> |
          <% end %>
          <% if admin?%>
            <%= link_to 'Excluir', item_path(@item), method: :delete, data: { confirm: 'Você tem certeza?' } %>
          <% end %>
    			<hr>
        </section>
      </div>
    </div>
  </aside>
  <!-- Content -->
    <div class="col-md-6">
      <div class="row">
        <div id="content" class="col-md-offset-1 col-md-11 content content">
        <% if signed_in? %>
            <%= form_for current_user.comentarios.build(item_id: @item.id) do |f| %>
              <%= render 'compartilhado/mensagens_erro', object: f.object %>
              <%= f.hidden_field :item_id %>
              <div class="field">
                <%= f.text_area :comentario, placeholder: "Escreva seu Comentario...", rows: "4" %>
              </div>
              <div class="col-md-4.5 col-md-offset-8">
                <%= f.submit "Comentar!", class: "btn btn-large btn-primary" %>
              </div>
            <% end %>
        <% else %>
          <div class="well">
            <p>Deixe um comentário. <%= link_to "Faça login no Suggest Me!", signin_path %> ou <%= link_to "registre-se.", signup_path %>
            </p>
          </div>
        <% end %>
        <hr>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#comentario" data-toggle="tab">Comentários <span class="badge"><%= @comentarios.count %></span></a></li>
          <li><a href="#avaliacao" data-toggle="tab">Avaliações <span class="badge"><%= @avaliacoes.count %></span></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="comentario">
            <%= render "comentarios", comentarios: @comentarios %>
          </div>
          <div class="tab-pane" id="avaliacao">
            <%= render "avaliacoes", avaliacoes: @avaliacoes %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Artistas Parecidos -->
  <div id="content-recommendation" class="col-md-3">
    <!-- Ajax vai aqui -->
    <h3>Carregando Recomendações</h3>
    <%= image_tag "ajax-loader.gif" %>
  </div>
</div>
