<% provide(:title, @item.get_name) %>

<%= render "compartilhado/breadcrumb", pag: "Item" %>

<div class="row">
  <aside class="col-md-3">
    <section>
      <div class="row clearfix">
        <img alt="140x140" src=<%= @img_url %> class="img-thumbnail" />
      <div>
      <hr>
      <button type="button" class="btn btn-primary btn-md" id="like"> <%= @avaliacoes[:positivas] %>
        <span class="glyphicon glyphicon-thumbs-up"></span>
      </button>
      <button type="button" class="btn btn-danger btn-md" id="dislike"> <%= @avaliacoes[:negativas] %>
        <span class="glyphicon glyphicon-thumbs-down"></span>
      </button>
      <% if signed_in? and @new_avaliacao_usuario.empty? %>
        <%= form_for(@new_avaliacao) do |f| %>
          <%= f.hidden_field :item_id %>
          <%= f.hidden_field :avaliacao, id: 'hidden_tipo' %>
          <div class="col-md-4.5 col-md-offset-8">
            <%= f.submit "Like!", { class: "btn btn-large btn-primary", style: "display: none", id: "submit"} %>
          </div>
        <% end %>
      <% end %>
      <hr>
      <label>Categoria:</label> <%= link_to @item.categoria.descricao, categoria_path(@item.categoria) %> </br>
			<label>Nome: </label> <%= @item.try(:nome_ptbr) %> </br>
      <small><label>    Inglês: </label> <%= @item.try(:nome_en) %></small> </br>
			<label>Descrição: </label> <%= @item.descricao %> </br>
      <label>Generos: </label> 
        <% unless @item.generos.empty? %>
          <% @item.generos.group("generos.id").each do |genero| %>
            <%= link_to genero.nome, genero_path(genero) %>,
          <% end %>
        <% end %>
      <% if signed_in? %>
        <!-- Button trigger modal Generos-->
        <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
          Adicionar Tags
        </button>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"> <%= @item.get_name %></h4>
              </div>
              <%= form_for(@new_genero) do |f| %>
                <div class="modal-body">
                  <div class="form-group">
                    <%= f.hidden_field :item_id %>
                    <%= f.label :genero_id, "Genero" %>
                    <%= f.collection_select(:genero_id, Genero.order(:nome), :id, :nome, class: "form-control" ) %>
                  </div>
                </div>
                <div class="modal-footer">
                  <%= link_to "Criar novo Genero", new_genero_path%>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                  <button type="submit" name= "commit" class="btn btn-primary">Salvar</button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      </br></br>
      <%= link_to 'Voltar', itens_path %> |
      <% if signed_in? %>
        <%= link_to 'Editar', edit_item_path(@item) %> |
      <% end %>
      <% if is_admin?%>
        <%= link_to 'Excluir', edit_item_path(@item) %> |
      <% end %>
			<hr>
    </section>
  </aside>
	<div class="col-md-4 col-md-offset-1">
    <% if signed_in? %>
      <div class="row">
        <%= form_for(@new_comentario) do |f| %>
          <%= render 'compartilhado/mensagens_erro', object: f.object %>
          <%= f.hidden_field :item_id %>
          <div class="field">
            <%= f.text_area :comentario, placeholder: "Escreva seu Comentario...", rows: "4" %>
          </div>
          <div class="col-md-4.5 col-md-offset-8">
            <%= f.submit "Comentar!", class: "btn btn-large btn-primary" %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="well">
        <small>Deixe um comentário. <%= link_to "Faça login no SuggestMe", signin_path %> ou <%= link_to "registre-se.", signup_path %>
        </small>
      </div>
    <% end %>
    <% if @item.comentarios.any? %>
      <h4>Comentarios (<%= @item.comentarios.count %>)</h4>
      <!-- Loop para cada comentario do item -->
      <% @comentarios.each do |comentario| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span> <%= link_to comentario.usuario.username, usuario_path(comentario.usuario) %></span>
              <small>  
                <span class="glyphicon glyphicon-thumbs-up"><%= comentario.like %></span>
                <span class="glyphicon glyphicon-thumbs-down"><%= comentario.dislike %></span>
                <span>
                  <% if current_user == comentario.usuario %>
                    <%= link_to "deletar", comentario, method: :delete %>
                    <% #link_to "editar", edit_comentario_path(comentario) %>
                  <% end %> 
                </span>
              </small>
            </h3>
          </div>
          <div class="panel-body">
            <%= comentario.comentario %>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= will_paginate @comentarios, renderer: BootstrapPagination::Rails %>
  </div>
</div>
