<!-- Button trigger modal Generos-->
<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#<%= id %>">
  <span class="glyphicon glyphicon-flag"></span><%= " Flag" if id != "flag_comentario" %>
</button>
<div class="modal fade" id=<%= id %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> <%= flagavel.try(:get_name) || "Comentário" %></h4>
      </div>
      <%= render partial: "flags/novo_flag", locals: { flagavel: flagavel } %>
    </div>
  </div>
</div>