<tr>
  <td><%= link_to flag.flagavel.get_name, flag.flagavel %></td>
  <td><%= flag.flagavel.class %></td>
  <td><small> <%= truncate(flag.conteudo,{ :length => 50, omission: '... (continua)' }) %> </small></td>
  <td><%= link_to flag.usuario.get_name, flag.usuario %></td>
  <td><%= flag.created_at %></td>
  <td>
  	<%= link_to "Excluir", flag.flagavel, method: :delete %>
  	<%= link_to "Editar",  root_path%>
  </td>
</tr>