<tr>
  <td>
  <%= link_to '<span class="glyphicon, glyphicon-plus"></span>'.html_safe, flag, class: 'btn btn-primary btn-xs' %>
  </td>
  <td><%= link_to flag.flagavel.try(:get_name) || "Comentário #{flag.flagavel.id}", flag.flagavel %></td>
  <td><%= flag.flagavel.class %></td>
  <td><%= flag.tipo_flag.descricao %></td>
  <td><%= truncate(flag.conteudo,{ :length => 50, omission: '... (continua)' }) %></td>
  <td><%= link_to flag.usuario.get_name, flag.usuario %></td>
  <td><%= flag.created_at %></td>
  <td>
  	<%= link_to "Excluir", flag.flagavel, method: :delete %>
  </td>
</tr>