<%= render "compartilhado/breadcrumb", pag: @flag.flagavel.try(:name) || "Comentário #{@flag.flagavel.id}"  %>

<div class="row">
  <aside class="col-md-3">
    <section>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
              <h4> <%= @flag.flagavel.try(:name) || "Comentário #{@flag.flagavel.id}"  %> </h4>
          </h3>
        </div>
        <div class="panel-body">
            <p><label>Usuário: </label> <%= link_to @flag.usuario.try(:get_name) || "Ex-usuário", @flag.usuario %></p>
            <p><label>Flagavel: </label> <%= link_to @flag.flagavel.get_name, @flag.flagavel %></p>
            <p><label>Tipo Flag: </label> <%=  @flag.tipo_flag.descricao %></p>
            <p><label>Tipo Item: </label> <%= @flag.flagavel_type %></p>
            <p><label>Criado em: </label> <%= @flag.created_at.to_s(:db) %></p>
            <p><label>Modificado em: </label> <%= @flag.updated_at.to_s(:db) %></p>
            <hr>
            <%= link_to "Editar Flag", edit_flag_path(@flag) %> |
            <%= link_to "Excluir Flag", @flag, method: :delete, data: { confirm: 'Você tem certeza?' } %>
        </div>
      </div>
    </section>
  </aside>
  <div class="col-md-8">
    <section>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
              <h4> Conteúdo </h4>
          </h3>
        </div>
        <div class="panel-body">
          <p><%= @flag.conteudo%></p>
        </div>
      </div>
    </section>
  </div>
</div>
