<% if @comentarios.any? %>
  <!-- Loop para cada comentario do usuário -->
  <% @comentarios.each do |comentario| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span> <%= link_to comentario.item.nome_ptbr, item_path(comentario.item) %></span>
          <small>
            <span class="glyphicon glyphicon-thumbs-up"><%= comentario.like %></span>
            <span class="glyphicon glyphicon-thumbs-down"><%= comentario.dislike %></span>
            <span class="text-right">
              <% if current_user == comentario.usuario %>
                <%= link_to "deletar", comentario, method: :delete %>
              <% end %> 
            </span>
          </small>
        </h3>
      </div>
      <div class="panel-body">
        <%= comentario.comentario %>
      </div>
    </div>
  <% end %>
<% end %>
<%= will_paginate @comentarios, :previous_label => " << Anterior", :next_label => "Proximo >>", renderer: BootstrapPagination::Rails %>