<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "erro") %> proibiram este usuário de ser salvo:</h2>
      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(@usuario) do |f| %>
      <div class="form-group">
      <%= f.label :username, "Username" %>*
      <%= f.text_field :username, class: "form-control", placeholder: "stephenhawking" %>
      </div>
      <div class="form-group">
      <%= f.label :email, "Email" %>*
      <%= f.text_field :email, class: "form-control", placeholder: "stephen.hawking@email.com" %>
      </div>
      <div class="form-group">
      <%= f.label :primeiro_nome, "Primeiro Nome" %>
      <%= f.text_field :primeiro_nome, class: "form-control", placeholder: "stephenhawking" %>
      </div>
      <div class="form-group">
      <%= f.label :ultimo_nome, "Último Nome" %>
      <%= f.text_field :ultimo_nome, class: "form-control", placeholder: "stephen.hawking@email.com" %>
      </div>
      <div class="form-group">
      <%= f.label :sexo, "Sexo" %>
      <%= f.text_field :sexo, class: "form-control", placeholder: "[M]ale, [F]emale" %>
      </div>
      <div class="form-group">
      <%= f.label :dt_aniversario, "Data de Nascimento" %>
      <%= f.date_field :dt_aniversario, { value: Time.now.strftime("%Y-%m-%d"), class: "form-control"}  %>
      </div>
      <div class="form-group">
      <label>Classificação</label>
      <span class="label label-<%= @usuario.admin? ? :danger : :info %>"><%= @usuario.admin? ? "Admin" : "Comum" %></span>
      </div>
      <hr>
      <%= f.submit "Enviar", class: "btn btn-large btn-primary" %>
      <p></p>
      <p>* Atributos Obrigatórios </p>
    <% end %>
  </div>
</div>

<% end %>
