<div>
	<img src=<%= @usuario.get_image %> alt="Profile Pic" class="img-circle" height="200" width="200">
	<hr>
	<%= render "status", usuario: @usuario %>
</div>
<hr>
<label>Username:</label> <%= @usuario.username %> </br>
<label>E-mail: </label> <%= @usuario.email %> </br>
<label>Primeiro Nome: </label> <%= @usuario.primeiro_nome %> </br>
<label>Ultimo Nome: </label> <%= @usuario.ultimo_nome %> </br>
<label>Sexo: </label> <%= @usuario.sexo == "M" ? "Masculino" : "Feminino" unless @usuario.sexo.nil? %> </br>
<label>Data de Nasc.: </label> <%= @usuario.dt_aniversario.strftime("%m/%d/%Y") unless @usuario.dt_aniversario.nil?  %></br>
<label>Classificação</label> <span class="label label-<%= @usuario.admin? ? :danger : :info %>"><%= @usuario.admin? ? "Admin" : "Comum" %></span></br>
<hr>