<%= form_for(@usuario) do |f| %>
<%= render 'compartilhado/mensagens_erro', object: f.object %>
<% end %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(@usuario, :url=> "usuarios#edit_password", :method => :post) do |f| %>
      <div class="form-group">
        <%= f.label :password, "Senha" %>*
        <%= f.password_field :password, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "Confirmação da Senha" %>*
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= link_to 'Cancelar', usuario_path(@usuario), class: "btn btn-large btn-warning" %>
        </div>
        <div class="col-md-6">
          <%= f.submit "Enviar", class: "btn btn-large btn-primary" %>
        </div>
      </div>
      <hr>
      <p>* Atributos Obrigatórios </p>
    <% end %>
  </div>
</div>
