<%= render "compartilhado/breadcrumb", pag: "Todos os Usuários" %>

<h2>Todos usuários (<%= @usuarios_count %>)</h2>

<div class="row">
	<div class="col-md-2">
		<%= form_tag( { controller: :usuarios, action: :index }, method: "get", class: "navbar-form navbar-left") do %>
		  <div class="inner-addon right-addon">
		      <i class="glyphicon glyphicon-search"></i>
		      <%= text_field_tag(:q, nil, class: "form-control", height:"15", width:"15") %>
		  </div>
		<% end %>
	</div>
</div>

<table class="table table-hover">
		<tr class="info">                      
		<th><%= sortable "username" %></th>
		<th><%= sortable "primeiro_nome", "Primeiro Nome" %></th>
		<th><%= sortable "ultimo_nome", "Ultimo Nome" %></th>
		<th><%= sortable "email", "E-mail" %></th>
		<th><%= sortable "dt_aniversario", "Aniversário" %></th>
		<th><%= sortable "created_at", "Criado em:" %></th>
		<th><%= sortable "updated_at", "Modificado em:" %></th>
		<% if admin? %>
			<th><%= sortable "acoes", "Ações" %></th>
		<% end %>
	</tr>
  <%= render @usuarios %>
</table>
<%= will_paginate @usuarios, :previous_label => "<< Anterior", :next_label => "Proximo >>", renderer: BootstrapPagination::Rails %>