<%= render "compartilhado/breadcrumb", pag: "Resetar Senha" %>

<% provide(:title, "Resetar Senha!") %>

<div class="row">
  <%= form_tag(action: :send_reset_password) do %>
  <div class="col-md-4 col-md-offset-4">
    <div class="form-group">
      <%= label_tag :email, "E-mail:" %>
      <%= text_field_tag :email, "", class: "form-control" %>
    </div>
    <%= submit_tag "Enviar", class: "btn btn-large btn-primary" %>
  </div>
  <% end %>
</div>