<%= render "compartilhado/breadcrumb", pag: @usuario.get_name.titleize %>

<%= form_for(@usuario) do |f| %>
	<%= render 'compartilhado/mensagens_erro', object: f.object %>
<% end %>

<div class="row">
  <aside class="col-xs-3">
    <section>
      <%= render "informacoes_usuario", usuario: @usuario %>
      <% if signed_in? and !current_user?(@usuario)%>
        <%= render partial: "compartilhado/nova_flag", locals: { flagavel: @usuario, id: "flag_usuario" } %>
      </br></br>
      <% end %>
      <% if current_user?(@usuario) or admin? %>
        <%= link_to 'Editar |', edit_usuario_path(@usuario) %>
			  <%= link_to 'Mudar Senha |', { action: "edit_password", id: @usuario.id } %>
        <%= link_to 'Excluir Conta', @usuario, method: :delete, data: { confirm: 'Esta ação é permanente e irreversível. Você tem certeza?' } %>
      <% end %>
      <%= link_to '| Upgrade Admin', set_usuario_admin_path(@usuario) if admin? and ! @usuario.admin? %>
    </section>
  </aside>
	<div class="col-md-8">
    <div class="row">
      <div class="col-md-4">
        <%= render "seguir_form" if signed_in? %>
      </div>
    </div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#comentario" data-toggle="tab">Comentários <span class="badge"><%= @comentarios.count %></span></a></li>
      <li><a href="#avaliacao" data-toggle="tab">Avaliações <span class="badge"><%= @avaliacoes.count %></span></a></li>
      <li><a href="#seguindo" data-toggle="tab">Seguindo <span class="badge"><%= @seguindo.count %></span></a></li>
      <li><a id="seguidores_count" href="#seguidores" data-toggle="tab">Seguidores <span class="badge"><%= @seguidores.count %></span></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="comentario">
        <%= render "comentarios", comentarios: @comentarios %>
      </div>
      <div class="tab-pane" id="avaliacao">
        <%= render "avaliacoes", avaliacoes: @avaliacoes %>
      </div>
      <div class="tab-pane" id="seguindo">
        <%= render "seguindo", seguindo: @seguindo %>
      </div>
      <div class="tab-pane" id="seguidores">
        <%= render "seguidores", seguidores: @seguidores %>
      </div>
    </div>
  </div>
</div>