<%= form_for(@usuario) do |f| %>
	<%= render 'compartilhado/mensagens_erro', object: f.object %>
<% end %>

<%= render "compartilhado/breadcrumb", pag: "Usuário" %>

<div class="row">
  <aside class="col-xs-3">
    <section>
      <%= render "informacoes_usuario", usuario: @usuario %>
      <%= link_to 'Editar', edit_usuario_path(@usuario) %>
			| <%= link_to 'Mudar Senha', { action: "edit_password", id: @usuario.id } %>
			<% if is_admin?%>
			  | <%= link_to 'Excluir', @usuario, method: :delete %> 
			  | <%= link_to 'Voltar', usuarios_path %>
			<% end %>
    </section>
  </aside>
	<div class="col-md-8">
    <%= render "todos_comentarios", comentarios: @comentarios%>
  </div>
</div>