<% provide(:title, @usuario.username) %>
<div class="row">
  <aside class="col-xs-3">
    <section>
      <h1><%= image_tag @usuario.image %></h1>
      <hr>
      <label>Username:</label> <%= @usuario.username %> </br>
			<label>E-mail: </label> <%= @usuario.email %> </br>
			<label>Primeiro Nome: </label> <%= @usuario.primeiro_nome %> </br>
			<label>Ultimo Nome: </label> <%= @usuario.ultimo_nome %> </br>
			<label>Sexo: </label> <%= @usuario.sexo %> </br>
			<label>Data de Nasc.: </label> <%= @usuario.dt_aniversario %></br>
			<label>Classificação</label> <span class="label label-<%= @usuario.admin? ? :danger : :info %>"><%= @usuario.admin? ? "Admin" : "Comum" %></span></br>
			<hr>
      <%= link_to 'Editar', edit_usuario_path(@usuario) %>
    </section>
  </aside>
	<div class="col-xs-9">
    <% if @usuario.comentarios.any? %>
      <h3>Comentarios (<%= @usuario.comentarios.count %>)</h3>
      <ol class="comentarios">
        <!-- Loop para cada comentario do usuário -->
        <%= render @comentarios %>
      </ol>
    <% end %>
    <%= will_paginate @comentarios, renderer: BootstrapPagination::Rails %>
  </div>
</div>
