$(".flash").html("<%= render 'compartilhado/flash', flash: flash %>");
$("tr#<%= @avaliacao.item.id %> > td > button.like").html("<%= @positivas %> <span class='glyphicon glyphicon-thumbs-up'></span>");
$("tr#<%= @avaliacao.item.id %> > td > button.dislike").html("<%= @negativas %> <span class='glyphicon glyphicon-thumbs-down'></span>");