<!-- Navigation Bar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Botão de tela estreita -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Suggest Me!", root_path , class: "navbar-brand" %>
    </div>
    <!-- /Botão de tela estreita -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse">
      <!-- Botões do navbar -->
      <ul class="nav navbar-nav">
        <li <%="class=active" if current_page?(root_path) %>><%= link_to "Home", root_path %></li>
        <li <%="class=active" if current_page?(itens_path) %>><%= link_to "Top Itens!", itens_path %></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Mais! <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li <%="class=active" if current_page?(sobre_path) %>><%= link_to "Sobre", sobre_path %></li>
            <li <%="class=active" if current_page?(privacidade_path) %>><%= link_to "Privacidade", privacidade_path %></li>
            <li <%="class=active" if current_page?(termos_path) %>><%= link_to "Termos", termos_path %></li>
            <li <%="class=active" if current_page?(contato_path) %>><%= link_to "Contato", contato_path %></li>
          </ul>
        </li>
      </ul>
      <!-- /Botões do navbar -->
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %> <!-- Está Logado -->
          <li><%= link_to "Suggest Me!", "/recomendacao" %></li>
          <li class="dropdown">
            
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= display_nome current_user %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Configuração", edit_usuario_path(current_user) %></li>
              <li><%= link_to "Editar Senha", {controller: :usuarios, action: :edit_password, id: current_user} %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
            </ul>
          </li>
        <% else %>
          <form class="navbar-form navbar-right" role="form">
            <label>Olá estranho! </label>
            <%= link_to "Sign in com Facebook", "/auth/facebook", { class: "btn btn-social btn-facebook"} %>
            <%= link_to "Sign In", signin_path, { class: "btn btn-primary"} %>
            <%= link_to "Sign Up", signup_path, { class: "btn btn-primary"} %>
          </form>
        <% end %>
      </ul>
    </div><!--/.navbar-collapse -->
  </div><!--/.container -->
</div><!-- /Navigation Bar-->