<!DOCTYPE html>
<html>
  <head>
    <title>Suggest Me! Recomendações de Livros, Filmes, Jogos e Musicas</title>
    <%= include_gon %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <body>

    <%= render 'layouts/header' %>

    <div class="container" id="content">

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <span class="glyphicon glyphicon-<%= key == "danger" ? "remove" : "ok" %>"></span>
        <%= value %>
      </div>
    <% end %>
    <!-- Content! -->
    <%= yield %>
    <!-- /Content! -->
    </div>

    <%= debug(params) if Rails.env.development? %>
    
    <%= render 'layouts/footer' %>

  </body>
</html>